<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/inicio.css">
    <title>Inicio</title>
</head>

<body>
    <div class="contenedorPrincipalApp">
        <header>
            <div class="nav-menu">
                <p class="title">DevBook</p>
                <section class="navegacion">
                    <a href="#"><i class='bx bx-user-circle'></i></a>
                    <a href="#"><i class='bx bx-shopping-bag' ></i></a>
                    <i id="configuration" class='bx bxs-cog' ></i>
                </section>
            </div>
            <!-- <hr> -->
            <div class="busquedad">
                <img src="../public/profile/user.jpg" id="userPicture">
                <input placeholder="Buscar">
                <!-- Elemento i posicionado absolutamente -->
                <i class='bx bx-search-alt'></i> 
            </div>
        </header>
        <main class="contenedor-publicacion">
            <div class="publicaciones" id="publicaciones">
                <div id="media"> </div>
            </div>
            <div class="sidebar">
                <div id="notificaciones" class="notificaciones">
                    <h3>Notificaciones</h3>
                </div>
                <div class="lista-amigos">
                    <h3>Amigos</h3>
                </div>
            </div>
        </main>
        <footer class="pie-pagina">
            <section class="pie notificacion" id="notifications">
                <a href="#"><i class='bx bxs-bell'></i></a>
                <h3>Notificaciones</h3>
            </section>
            <section class="pie amigos" id="friends">
                <a href="#"><i class='bx bxs-group' ></i></a>
                <h3>Amigos</h3>
            </section>
            <section class="pie publicacion">
                <a href="#"><i class='bx bxs-add-to-queue'></i></a>
                <h3>Nuevo post</h3>
            </section>
        </footer>
        <div class="modal-configuration hidden-setting" id="modal-configuration">
            
        </div>
        <div class="modal-friends hidden-friends" id="modal-friends">
            <div class="friendsList">

            </div>
            
        </div>
        <div class="modal-notifications hidden-notifications" id="modal-notifications">
            <div class="notificationsList">

            </div>
            
        </div>
    </div>
    <script src="../js/consumo-publicaciones.js" type="module"></script>
    <script src="../js/consumo-notificaciones.js" type="module"></script>
    <script src="../js/modal-configuration.js" type="module"></script>
    <script src="../js/modal-friends.js" type="module"></script>
</body>

</html>