<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/nosotros.css">
    <title>Acerca de Nosotros</title>
</head>

<body>
    <div class="contenedorPrincipal">
        <!-- Yuli - Header - Menú -->

        <!-- Mateo - Sección Acerca de Nosotros -->

        <!-- Vanessa - Sección Misión-Visión-Valores -->

        <!-- Edwar - Equipo -->
        <section class="contenedor-equipo">
            <h2>EQUIPO</h2>
            <div class="contenedor-persona">
                <div class="equipo">
                    <h3>Edwar León</h3>
                    <div class="info-equipo">
                        <div class="img-equipo edwar">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus deleniti
                                obcaecati
                                facere vero laboriosam dignissimos laborum! Quisquam iusto neque harum!</p>
                        </div>
                    </div>
                    <h4>Scrum Master</h4>
                </div>
                <div class="equipo">
                    <h3>Vanessa Mora</h3>
                    <div class="info-equipo">
                        <div class="img-equipo vanessa">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus deleniti
                                obcaecati
                                facere vero laboriosam dignissimos laborum! Quisquam iusto neque harum!</p>
                        </div>
                    </div>
                    <h4>Product Owner</h4>
                </div>
                <div class="equipo">
                    <h3>Mateo Castro</h3>
                    <div class="info-equipo">
                        <div class="img-equipo mateo">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus deleniti
                                obcaecati
                                facere vero laboriosam dignissimos laborum! Quisquam iusto neque harum!</p>
                        </div>
                    </div>
                    <h4>Desarrollador Jr Java Full Stack</h4>
                </div>
                <div class="equipo">
                    <h3>Yuli León</h3>
                    <div class="info-equipo">
                        <div class="img-equipo yuli">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus deleniti
                                obcaecati
                                facere vero laboriosam dignissimos laborum! Quisquam iusto neque harum!</p>
                        </div>
                    </div>
                    <h4>Desarrolladora Jr Java Full Stack</h4>
                </div>
            </div>
        </section>

        <!-- Vanessa - Footer -->
    </div>
</body>

</html>