<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../styles/nosotros.css">
    <title>Acerca de Nosotros</title>
</head>

<body>
    <div class="contenedorPrincipal">
        <!-- Yuli - Header - Menú -->

        <!-- Mateo - Sección Acerca de Nosotros -->

        <!-- Vanessa - Sección Misión-Visión-Valores -->

        <section class="seccion-mision-vision-valores">
            <div class="tarjeta mision">
                <h2>Misión</h2>
                <p>Nos comprometemos a ofrecer soluciones web y tecnológicas innovadoras y de vanguardia para satisfacer las necesidades de nuestros usuarios. 
                   Nuestro objetivo es proporcionar servicios de alta calidad que impulsen el crecimiento y el éxito de los profesionales y empresas del sector tecnológico.</p>
            </div>
            <div class="tarjeta vision">
                <h2>Visión</h2>
                <p>Nos visualizamos como líderes en la implementación de soluciones tecnológicas, destacando por nuestra excelencia en el servicio al cliente, 
                   nuestra constante innovación y nuestra capacidad para adaptarnos a un entorno tecnológico en evolución constante.</p>
            </div>
            <div class="tarjeta valores">
                <h2>Valores</h2>
                <ul>
                    <li>Integridad</li>
                    <li>Innovación</li>
                    <li>Sostenibilidad</li>
                    <li>Excelencia</li>
                </ul>
            </div>
        </section>

        <!-- Edwar - Equipo -->

        <!-- Vanessa - Footer -->
        <footer id="pie-de-pagina">
            <div class="contacto">
                <h3>Contacto</h3>
                <p>Email: contacto@ejemplo.com</p>
                <p>Teléfono: +123 456 7890</p>
            </div>
            <div class="redes-sociales">
                <h3>Síguenos</h3>
                <a href="#" class="icono-facebook">Facebook</a>
                <a href="#" class="icono-twitter">Twitter</a>
                <a href="#" class="icono-instagram">Instagram</a>
            </div>
            <div class="derechos">
                <p>&copy; 2024 Formatech. Todos los derechos reservados.</p>
            </div>
        </footer>
    </div>
</body>
</html>