<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/registro.css">
    <title>Registro</title>
</head>

<body>
    <div class="contenedorPrincipalApp">
        <div class="register-container">
            <img src="../img/LogoDevBook.png" alt="Logo" class="logo">
            <h1>Crea una cuenta</h1>
            <p>Ingrese su correo electrónico para registrarse en esta aplicación</p>
            <form id="register-form-part1">
                <div class="input-group">
                    <input type="email" id="email" name="email" required placeholder="email@email.com">
                    <label for="email"></label>
                </div>
                <button type="button" id="next-button">Registrar</button>
                <section class="icons">
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                    <a href="#"><i class='bx bxl-google'></i></a>
                    <a href="#"><i class='bx bxl-github'></i></a>
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                </section>
                <p>Al hacer clic en Continuar, acepta nuestros Términos de servicio y Política de privacidad</p>
            </form>
    
            <form id="register-form-part2" style="display: none;">
                <div class="input-group">
                    <input type="text" id="nombre" name="nombre" required placeholder="Nombre">
                </div>
                <div class="input-group">
                    <input type="text" id="apellido" name="apellido" required>
                    <label for="apellido">Apellido</label>
                </div>
                <div class="input-group">
                    <input type="password" id="contraseña" name="contraseña" required>
                    <label for="contraseña">Contraseña</label>
                </div>
                <div class="input-group">
                    <select type="country" id="country" name="country" required>
                    <label for="contraseña">Contraseña</label>
                </div>
                <button type="submit">Continuar</button>
            </form>
            <p>Al hacer clic en Continuar, acepta nuestros Términos de servicio y Política de privacidad</p>
        </div>
        <script src="../js/registro.js"></script>
    </div>
</body>

</html>