@import url(./styles.css);

.contenedorPrincipal{
    padding: 0 var(--padding-10) 
}

.direccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.direccion h1{
    color: #2272FF;
    text-align: center;
    font-family: Ubuntu; 
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;   
}

.direccion .datos{
    color: var(--oscuro-400);
    text-align: justify;
    font-family: Ubuntu; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}
.datos a{
    color: var(--Text-color, #0F001A);
    font-family: Ubuntu; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: underline;
}

.direccion img {
    width: 100%; 
    height: auto;
    flex-shrink: 0;
    border-radius: 5px;
}

.formulario{
    padding: 10px 0px;
}
.formulario h3{
    color: var(--oscuro-400);
    font-family: Josefin;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: var(--padding-30) 0 var(--padding-20) 0 ;
}

.formulario input, textarea{
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1.2px solid #B4BEC8;
    margin: 10px 0px;
    padding-left: var(--padding-10);

}

.formulario textarea{
    height: auto;
    padding-top: var(--padding-10);
}
 .formulario button{
    color:white;
    display: flex;
    width: 100%;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: #2272FF;
    background: #2272FF;
    margin-top: 10px;
}

.formulario button:hover {
    border: 2px solid var(--Primary-300, #1D58BD);
    color: var(--primario-400);
    background-color: rgba(0, 0, 0, 0)
}
.icons{
    display: none;
}

@media (min-width: 744px){
        .contenedorPrincipal{
        border-radius: 10px;
        box-shadow: 2px 10px 28px 0px rgba(75, 0, 129, 0.12);
        width:67%;
        padding: var(--padding-30);
        margin: 20vh 0;
    }
    body.contenedor { 
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icons{
        display: block;
        margin-top: 10vh;
    }
    .contenedor i{
        margin-right: 2vw;
        font-size: 38px;
    }
    .direccion h1 {
        text-decoration: underline;
        text-underline-offset: 3vh; 
        text-transform: uppercase;
        color: #2272FF;
        font-family: Poppins;
        font-size: 27px;
        font-style: normal;
        font-weight: 650;
        line-height: normal;
        letter-spacing: 0.24px;
        text-align: center;
        display: block;
        margin: 0 auto  ;
        /* Aplico las propiedades de un texto */
    }
    .contenedor .info{
        width: 75%;
        display: block;
        margin: 0 auto;
    }

    .contenedor img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    .formulario h3{
        text-align: center;
        margin: 3vh auto;
    }

}