@import url(./styles.css);


#menu-principal {
    /* Estilos para el menú principal */
}

#buscador {

    margin: 1em 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.seccion-mision-vision-valores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320, 1fr));
    gap: 2em;
    width: 100%;
}

.tarjeta {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    width: 300px;
    text-align: center;
}


.tarjeta p{
    color: #555;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}

.tarjeta.tarjeta.valores img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 1em 0;
}


.tarjeta.mision{
 background-color: #F2FFF1;

}
.tarjeta.tarjeta.mision img {
    width: 35%;
    height: 30%;
    border-radius: 5px;
    margin: 1em 0;
}

.tarjeta.mision h2 {
    color: #259D19;
    text-align: center;
}

.tarjeta.vision {
    background-color: #F0F0FF;
    
}
.tarjeta.vision h2 {
    color: #E3A11F;
    text-align: center;
    
}

.tarjeta.tarjeta.vision img {
    width: 35%;
    height: 30%;
    border-radius: 5px;
    margin: 1em 0;
}


.tarjeta.valores {
    background-color: #fff3e0; 
}

.tarjeta.valores h2 {
    color: #171A8F;
    text-align: center;
}



footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
